<div ng-controller="assessementController">
  <form>
    <h3>Record Information</h3><br>
    <strong>ITM_SBST_CD</strong><br>
    <select ng-model="assessment.itm_sbst_cd">
      <option value="NC" selected>NC, Admission, Annual, Significant Change</option>
      <option value="NQ">Quarterly</option>
      <option value="NT">Entry, Death in Facility</option>
      <option value="ND">Discharge - Return Anticipated/Return not Anticipated</option>
      <option value="NP">Nursing Home PPS</option>
      <option value="XX">Inactivation</option>
    </select>
  </form>
  <pre>{{assessment | json}}</pre>
</div>

 <!--<div align="center">
   <input value="Export XML" class="btn default btn-submit" type="submit">
 </div>