<div ng-controller="AdmissionAssessementController">
  <form>
    <div align="center">
      <input type="button" class="btn default btn-submit" ng-click="exportXml()" value="Export XML" />
      <input type="button" class="btn default btn-submit" ng-click="viewXml()" value="View XML" />
    </div>

    <div ng-include="'fields/_item_sbst_cd.html'"></div>
    <div ng-include="'fields/_state_cd.html'"></div>

  </form>
  <pre>{{xml_view}}</pre>
</div>