<div ng-controller="AdmissionAssessementController">
  <form>
    <div align="center">
      <input type="button" class="btn default btn-submit" ng-click="exportXml()" value="Export XML" />
      <input type="button" class="btn default btn-submit" ng-click="viewXml()" value="View XML" />
    </div>
    <h3>Record Information</h3><br>
    <strong>ITM_SBST_CD</strong><br>
    <select ng-model="assessment.ITM_SBST_CD">
      <option value="NC">NC, Admission, Annual, Significant Change</option>
      <option value="NQ">Quarterly</option>
      <option value="NT">Entry, Death in Facility</option>
      <option value="ND">Discharge - Return Anticipated/Return not Anticipated</option>
      <option value="NP">Nursing Home PPS</option>
      <option value="XX">Inactivation</option>
    </select>
  </form>
  <pre>{{xml_view}}</pre>
</div>