<div ng-controller="AdmissionAssessementController">
  <form>
    <div align="center">
      <input type="button" class="btn default btn-submit" ng-click="exportXml()" value="Export XML" />
      <input type="button" class="btn default btn-submit" ng-click="viewXml()" value="View XML" />
    </div>
    <div ng-repeat="field in fields">
      <div ng-include="'fields/_'+field.name+'.html'"></div>
    </div>

  </form>
  <pre>{{xml_view}}</pre>
</div>