<strong>Type of Record</strong>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value= "1" checked>
    Add new record
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
    Modify existing record
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="3">
    Inactivate existing record
  </label>
</div>

