<div align="center">
<small>
  <p>Choose red links to create flagging assessments and green links to create non-flagging assessments.</p>
  <p>Assessment results that require multiple MDS files are grouped together.</p>
</small><br>
<h4>ADL, ROM, Cleanliness and Grooming, Positioning</h4>
  <%= render(:partial => "dash/partials/adl_rom") %>
<h4>Behavior and Emotional Status</h4>
  <%= render(:partial => "dash/partials/behavior") %>
<h4>Communication and Sensory, Hearing and Vision</h4>
  <%= render(:partial => "dash/partials/com_sensory") %>
<h4>Dental Status Services</h4>
  <%= render(:partial => "dash/partials/dental") %>
<h4>Hydration</h4>
  <%= render(:partial => "dash/partials/hydration") %>
<h4>Infections (non-UTI related)</h4>
  <%= render(:partial => "dash/partials/infections") %>
<h4>Nutrition</h4>
  <%= render(:partial => "dash/partials/nutrition") %>
<h4>Physical Restraints</h4>
  <%= render(:partial => "dash/partials/restraints") %>
<h4>Pressure Ulcers</h4>
  <%= render(:partial => "dash/partials/ulcers") %>
<h4>Rehabilitation and Community Discharge</h4>
  <%= render(:partial => "dash/partials/rehab") %>
<h4>Tube Feeding</h4>
  <%= render(:partial => "dash/partials/tube_feeding") %>
<h4>Urinary Catheter, Incontinence and Infection</h4>
  <%= render(:partial => "dash/partials/catheter") %>
<div>