<span>
	<li><strong>QP213-</strong>Lack of Corrective Action for Visual Problems</li>
  <ul id="green">
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>
<span>
	<li><strong>QP214-</strong>Lack of Corrective Action for Auditory Problems</li>
  <ul id="green">
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Quarterly", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>