<span>
	<li><strong>QP217-</strong>Oral/Dental Problems</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>
