<span>
	<li><strong>QP217-</strong>Oral/Dental Problems</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp217", pos_or_neg: "pos", resident: "Positive", ssn: "111111134"}), :id => "qp217_0_green"%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp217", pos_or_neg: "neg", resident: "Negative", ssn: "111111135"}), :id => "qp217_0_red"%></li>
  </ul>
</span>
