<span>
	<li><strong>QP015-</strong>Prevalence of Dydration</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp015", pos_or_neg: "pos", resident: "Positive", ssn: "111111136"}), :id => "qp215_0_green"%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp015", pos_or_neg: "neg", resident: "Negative", ssn: "111111137"}), :id => "qp215_0_red"%></li>
  </ul>
</span>