<span>
	<li><strong>QP015-</strong>Prevalence of Dydration</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>