<span>
	<li><strong>QP061-</strong>Wound Infection</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp061", pos_or_neg: "pos"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp061", pos_or_neg: "neg"})%></li>
  </ul>
</span>