<span>
	<li><strong>QP061-</strong>Wound Infection</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp061", pos_or_neg: "pos", resident: "Positive", ssn: "111111138"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp061", pos_or_neg: "neg", resident: "Negative", ssn: "111111139"})%></li>
  </ul>
</span>