<span>
	<li><strong>QP013-</strong>Prevalence of Weight Loss</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp013", pos_or_neg: "pos", resident: "Positive", ssn: "111111140"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp013", pos_or_neg: "neg", resident: "Negative", ssn: "111111141"})%></li>
  </ul>
</span>