<span>
	<li><strong>QP119-</strong>Lack of Transferring Rehabilitation Progress</li>
  <ul id="green">
    <li><%= link_to "5-Day PPS", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "30-Day PPS", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "5-Day PPS", new_assessment_path({type: "CorrectionOfAdmission"})%></li>
    <li><%= link_to "30-Day PPS", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>
<span>