<span>
	<li><strong>QP014-</strong>Prevalence of Tube Feeding</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp014", pos_or_neg: "pos", resident: "Positive", ssn: "111111146"}), :id => "qp014_0_green"%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "Admission", qp_name: "Qp014", pos_or_neg: "neg", resident: "Negative", ssn: "111111147"}), :id => "qp014_0_red"%></li>
  </ul>
</span>