<span>
  <li><strong>QP024_H-</strong>Prevalence of Stage1-4 Pressure Ulcers (High Risk)</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>
<span>
  <li><strong>QP024_L-</strong>Prevalence of Stage1-4 Pressure Ulcers (Low Risk)</li>
  <ul id="green">
    <li><%= link_to "Admission", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
  <ul id="red">
    <li><%= link_to "Admission", new_assessment_path({type: "InactivationOfAdmission"})%></li>
  </ul>
</span>