<h4 align="center">About</h4><br>

<p>This program will generate MDS 3.0 files in XML format. Each assessment type has default data that will produce a working MDS file. The assessments only contain questions that are relevant to <a href = "http://www.cms.gov/Medicare/Provider-Enrollment-and-Certification/SurveyCertificationGenInfo/QIS-Survey-Forms.html">CMS</a>. The data may be edited to suit your purpose, but keep in mind that entering invalid characters or answering inappropriate fields per assessment type may cause the MDS file to be rejected. Validations were left as loose as possible so that we may use this program for in-house MDS testing.</p>
<p>This is an open-source project created by the developers at <a href = "http://www.providigm.com/">Providigm.LLC</a> for testing purposes only. </p><br>

<div align="center">
  <a class="btn-small default btn-submit" href="/">Back to Home</a>
</div><br>