<h4 align="center">About</h4><br>

<p>This program will generate MDS 3.0 files in XML format. Each assessment type has default data that will produce a working MDS file. The data may be edited to suit your purpose, but keep in mind that entering invalid characters or answering inappropriate fields per assessment type may cause the MDS file to be rejected. Validations were left as loose as possible so that we may use this program for in-house MDS testing.</p>
<p>This is an open-source project created by the developers at Providigm.LLC for testing purposes only. </p>