<small>
  <p>Choose red links to create flagging assessments and green links to create non-flagging assessments.</p>
  <p>Assessment results that require multiple MDS files are grouped together.</p>
</small><br>
<h4>ADL, ROM, Cleanliness and Grooming, Positioning</h4>
  <%= render(:partial => "dash/partials/adl_rom") %>
<h4>Behavior and Emotional Status</h4>
  <%= render(:partial => "dash/partials/behavior") %>
<h4>Communication and Sensory, Hearing and Vision</h4>
  <%= render(:partial => "dash/partials/com_sensory") %>