<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="#/dash" id="logo">MDS 3.0 Builder</a>
      <nav>
        <ul ng-init="tab = 1" class="nav pull-right" role="tablist">
          <li ng-class="{active:tab==1}"><a href="#/" data-toggle="tab" ng-click="tab = 1">Assessments</a></li>
          <li ng-class="{active:tab==2}"><a href="#/test_cases" data-toggle="tab" ng-click="tab = 2">Test Cases</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>