<div ng-controller="DashController">
<h4>Choose an assessment type:</h4>

<h2 class="well" ng-click="orbaToggle()">OBRA Assessments</h2>

<div ng-show="orbaButtonList">
  <div class="orba_assessments" align="center">
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">Admission</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_admission">Admission</a></li>
        <li><a href="#/correction_of_admission">Correction of Admission</a></li>
        <li><a href="#/inactivation_of_admission">Inactivation of Admission</a></li>
      </ul>
    </div>
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">Quarterly</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_quarterly">Quarterly</a></li>
        <li><a href="#/correction_of_quarterly">Correction of Quarterly</a></li>
        <li><a href="#/inactivation_of_quarterly">Inactivation of Quarterly</a></li>
      </ul>
    </div>
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">Annual</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_annual">Annual</a></li>
        <li><a href="#/correction_of_annual">Correction of Annual</a></li>
        <li><a href="#/inactivation_of_annual">Inactivation of Annual</a></li>
      </ul>
    </div>
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">Change in Status</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_significant_change">Significant Change</a></li>
        <li><a href="#/correction_of_significant_change">Correction of Significant Change</a></li>
        <li><a href="#/inactivation_of_significant_change">Inactivation of Significant Change</a></li>
      </ul>
    </div>
  </div>
</div>

<h2 class="well" ng-click="ppsToggle()">PPS Assessments</h2>

<div ng-show="ppsButtonList">
  <div class="pps_assessments" align="center">
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">PPS 5-Day</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_pps_5day">PPS 5-Day</a></li>
        <li><a href="#/correction_of_pps_5day">Correction of PPS 5-Day</a></li>
        <li><a href="#/inactivation_of_pps_5day">Inactivation of PPS 5-Day</a></li>
      </ul>
    </div>
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">PPS 14-Day</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_pps_14day">PPS 14-Day</a></li>
        <li><a href="#/correction_of_pps_14day">Correction of PPS 14-Day</a></li>
        <li><a href="#/inactivation_of_pps_14day">Inactivation of PPS 14-Day</a></li>
      </ul>
    </div>
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">PPS 30-Day</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_pps_30day">PPS 30-Day</a></li>
        <li><a href="#/correction_of_pps_30day">Correction of PPS 30-Day</a></li>
        <li><a href="#/inactivation_of_pps_30day">Inactivation of PPS 30-Day</a></li>
      </ul>
    </div>
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">PPS 60-Day</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_pps_60day">PPS 60-Day</a></li>
        <li><a href="#/correction_of_pps_60day">Correction of PPS 60-Day</a></li>
        <li><a href="#/inactivation_of_pps_60day">Inactivation of PPS 60-Day</a></li>
      </ul>
    </div>
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">PPS 90-Day</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_pps_90day">PPS 90-Day</a></li>
        <li><a href="#/correction_of_pps_90day">Correction of PPS 90-Day</a></li>
        <li><a href="#/inactivation_of_pps_90day">Inactivation of PPS 90-Day</a></li>
      </ul>
    </div>
  </div>
</div>

<h2 class="well" ng-click="transferToggle()">Entry and Discharge Records</h2>

<div ng-show="transferButtonList">
  <div class="transfer_assessments" align="center">
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">Entry</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_entry">Entry</a></li>
        <li><a href="#/correction_of_entry">Correction of Entry</a></li>
        <li><a href="#/inactivation_of_entry">Inactivation of Entry</a></li>
      </ul>
    </div>
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">Discharge RA</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_discharge_ra">Discharge RA</a></li>
        <li><a href="#/correction_of_discharge_ra">Correction of Discharge RA</a></li>
        <li><a href="#/inactivation_of_discharge_ra">Inactivation of Discharge RA</a></li>
      </ul>
    </div>
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">Discharge RNA</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_discharge_rna">Discharge RNA</a></li>
        <li><a href="#/correction_of_discharge_rna">Correction of Discharge RNA</a></li>
        <li><a href="#/inactivation_of_discharge_rna">Inactivation of Discharge RNA</a></li>
      </ul>
    </div>
    <div class="btn-group" ng-class='{open: open}'>
      <button type="pure-button" class="pure-button-disabled" data-toggle="dropdown">Death</button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/mds_death">Death</a></li>
        <li><a href="#/correction_of_death">Correction of Death</a></li>
        <li><a href="#/inactivation_of_death">Inactivation of Death</a></li>
      </ul>
    </div>
  </div>
</div>